PORT=5001
MONGO_URI=mongodb+srv://ateebarman_db_user:HJ0FVQ7tLM1wXvcx@cluster0.e0q5tpa.mongodb.net/stramify_db?appName=Cluster0

STEAM_API_KEY=vf8527j855ue
STEAM_API_SECRET=q6suqk6xvnx86ye666xq25d2v7e4fk93mytm6hsj89tw4jxm54zxwhgy4gwmect6

JWT_SECRET_KEY=your_jwt_secret
NODE_ENV=development